
  <style>

    h2{ color: rgba(243, 189, 10, 0.979); font-size: 17px;}
    main { background-color: rgba(0, 0, 139, 0.637);}
    div {background-color: rgba(0, 0, 139, 0.329);}
    a#back { color:rgb(88, 235, 137); font-size: 15px; text-decoration: none;}
    form label { color: rgb(21, 252, 240);display: block; font-size: 15px; padding-bottom: 3%;}
    a{ color: rgb(231, 16, 231); text-decoration: none;}
    input {font-size: 15px;}
    textarea {font-size: 15px;}
    button {font-size: 13px; border-radius: 10px 10px 10px 10px;}
    .delete-post-btn {    background-color: #df9393;}
  </style>


<article>
  <a href="/dashboard" id="back"> 👈 Back to Dashboard</a>
  <h2>
    Edit Your Post
  </h2>

  <form class="edit-post-form">
    <div>
      <label for="post-title">Post Title</label>
      <input name="post-title" type="text" value="{{post.title}}" />
    </div>

    <div>
      <label for="post-content">Edit Content</label>
      <textarea name="post-content" type="text">{{post.post_content}}</textarea>
    </div>

    <div>
      <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>

    <button type="submit">Save Updated Post</button>
    <button type="button" class="delete-post-btn">Delete Post</button>
  </form>

</article>

{{> comments post.comments}}

{{#if loggedIn}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>

{{/if}}